/***********************************************
 * Desktop
 **********************************************/



/** Menu */

.cu-logo-menu {
    padding: 10px 89px 10px 50px;
    width: 162px;
}

.main-nav {
    background-color: #fff;
}

.main-nav-middle {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.nav-item a {
    color: #001b2d;
    text-decoration: none;
}

.nav-item {
    text-align: left;
    line-height: 1.25;
    letter-spacing: normal;
    opacity: 0.5;
    padding: 40px 25px 40px 25px;
}

.nav-item-last {
    text-align: left;
    line-height: 1.25;
    letter-spacing: normal;
    padding: 40px 25px 40px 25px;
}

.main-nav-right {
    padding-right: 50px;
}

/** Slider **/

.slider {
    width: 100%;
    height: 500px;
    background-image: url('../img/banner.png');
}

.slider-heading {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    padding: 120px 259px 20px 259px;
    margin: 0;
}

.slider-text {
    color: #fff;
    text-align: center;
}

/** Components **/

.btn-blue {
    width: 120px;
    height: 44px;
    padding: 12px 31px;
    border-radius: 34px;
    background-color: #008fd9;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

