/***********************************************
 * Design-Specific Avenir Fonts
 ***********************************************/

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/avenir_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/avenir_book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book-Oblique';
    src: url('../fonts/avenir_book_oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir-Regular';
    src: url('../fonts/avenir_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/avenir_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/avenir_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Oblique';
    src: url('../fonts/avenir_oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/avenir_black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../fonts/avenir_heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*.montserrat-bold {*/
/*                 font-family: "Montserrat", sans-serif;*/
/*                 font-optical-sizing: auto;*/
/*                 font-weight: 500;*/
/*                 font-style: normal;*/
/*             }*/


/***********************************************
 * Desktop
 **********************************************/

/** Menu */

.cu-logo-menu {
    padding: 10px 89px 10px 50px;
    width: 162px;
}

.main-nav {
    background-color: #fff;
}

.main-nav-middle {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-item a {
    color: #001b2d;
    font-family: 'Avenir-Regular', sans-serif;
    text-decoration: none;
}

.nav-item {
    text-align: left;
    line-height: 1.25;
    letter-spacing: normal;
    opacity: 0.5;
    padding: 40px 20px; /** Change to 15 PX for slightly smaller screens **/
}

.nav-item-last {
    text-align: left;
    line-height: 1.25;
    letter-spacing: normal;
    padding: 40px 25px 40px 25px;
}

.main-nav-right {
    padding-right: 50px;
}

/** Slider **/

.slider {
    width: 100%;
    height: 500px;
    background-image: url('../img/banner.png');
}

.slider-heading {
    font-family: 'Avenir-Regular', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding: 120px 259px 20px 259px;
    margin: 0;
}

.slider-paragraph {
    font-family: 'Avenir-Roman', sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.88;
    color: #fff;
}

.slider-text {
    color: #fff;
    text-align: center;
}

/** Components **/

.btn-blue {
    width: 120px;
    height: 44px;
    padding: 12px 31px;
    border-radius: 34px;
    background-color: #008fd9;
    color: #fff;
    text-decoration: none;
    font-family: 'Avenir-Regular', sans-serif;
}

